#container {
    position: absolute;
    background-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    height: 96vh;
    width: 96vw;
    border: 4px solid black;
    padding: .5%;
    margin: 1vh 1vw;
    box-sizing: border-box;
}
div.cell {
    color: white;
    position: absolute;
    text-align: center;
    font-size: 2em;
    height: 33.333%;
    width: 33.333%;
    background-image: url("images/grumpy_cat.jpg");
    background-size: 300% 300%;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

div.empty {
    display: none;
}
div.row1 {
    top: 0;
}
div.row2 {
    top: 33.333%;
}
div.row3 {
    top: 66.666%;
}
div.col1 {
    left: 0;
}
div.col2 {
    left: 33.333%;
}
div.col3 {
    left: 66.666%;
}
